<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Technical skills</ion-title>
    </ion-toolbar>
  </ion-header>

          <!-- Using ionic grid system to make the pages responsive with different platforms and screen sizes --Ehab Feroze--1601796 -->


<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col>

    <ul>
      <li>PHP</li>
      <li> HTML and CSS</li>
      <li>Javascipt</li>
      <li>Programming proficiency in Java and python</li>
      <li>Cross platform app development ability</li>
      <li>Extensive knowledge of Adobe Photoshop utilites</li>
      <li>Certifications in HubSpot Digital marketing</li>
      <li>Microsoft certification in Windows Operating System Fundamentals</li>
      
    </ul>
    </ion-col>
    </ion-row>
    </ion-grid>
    

</ion-content>
