<ion-split-pane>
  <ion-menu contentId= "content">
    <ion-header>
      <ion-toolbar color="tertiary">
      <ion-title>Ehab Feroze's CV</ion-title>
      </ion-toolbar>
      </ion-header>

      <!-- Adding all the pages to the sideMenu using ngFor iteration --Ehab Feroze--1601796 -->

      <ion-content>
        <ion-list class="nav">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item tappable routerLink="/login" routerDirection="root">

            <!-- Signout button to be called if user is logged in -Ehab Feroze -1601796 -->

          <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>

          </ion-item>


        </ion-list>

      </ion-content>
  </ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>