<ion-header>
  <ion-toolbar>
    <ion-title>Extra Curriculars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <ul>
      <li>Ultrahack 2018 - Participant</li>
      <li>Nordic Digital Business Forum 2017 - Volunteer</li>
      <li>Slush 2018 - Spruiker Team Volunteer</li>
      <li>Slush 2019 - Construction team Volunteer </li>
      <li>Participated in a local futsal tournament in January 2019 and placed 3rd</li>
      <li>Gitex UAE 2016 - Promoter</li>
      

    </ul>
  </body>

</ion-content>
