<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Extra Curriculars</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <body>
    <ion-grid>
      <ion-row>
        <ion-col>
            <ul>
                <li>Ultrahack 2018 - Participant</li>
                <li>Nordic Digital Business Forum 2017 - Volunteer</li>
                <li>Slush 2018 - Spruiker Team Volunteer</li>
                <li>Slush 2019 - Construction team Volunteer </li>
                <li>Participated in a local futsal tournament in January 2019 and placed 3rd</li>
                <li>Gitex UAE 2016 - Promoter</li>
                
          
              </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </body>

</ion-content>
