<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>

    <ul>
 <li> Worked on a school project where I made an app to check Finnkino theatre timings and go to the website page to book a ticket. I used REST API's and javascript to implement the application. </li>
<li>Made quiz application with the help of PHP and javascript and databases where users can register and then proceed to do the quizes, their information and scores would then be saved to the database for the teacher to check </li> 
<li>Designed multiple webpages using Html, CSS and Javascript</li>
</ul>

<p>    (Project files and links will be provided on request)</p>

</body>

</ion-content>
