<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Team project</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-content padding>
        
          <ion-grid>
            <ion-row>
              <ion-col>

    <ul>
 <li>Library application. Developed an application for my Object oriented Java course with a teammember to view the books available at the library and then functionality was present to book those books and also extend the due dates.  </li>
<li> Movies chatbot. Setup a chatbot for my Robotics and programming course. The chatbot would ask a few questions from the user and then the chatbot would recommend different movies, and also redirect to the nearest theatre. The chatbot required knowledge of basic javascript and API fetching.  </li> 

</ul>

<p>    (Project files and links will be provided on request)</p>

</ion-col>
</ion-row>
</ion-grid>


</ion-content>
