<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

        <!-- Using ionic grid system to make the pages responsive with different platforms and screen sizes --Ehab Feroze--1601796 -->

    <ion-grid>
        <ion-row>
          <ion-col>
              <ul>
                  <li> Developed a Theatre ticket booking application using HTML, JavaScript and Json data. Users would select the theatre of their choice and then using API's from finnkino the app would fetch the timetable of movies, give them an option to book their tickets for a show.   </li>
                  <li>Designed a quiz taker application with the help of PHP, javascript and databases where users can register and then proceed to do the quizes, their information and scores would then be saved to the database for the teacher to check </li> 
                  <li>Have developed multiple websites and pages using Html, CSS and Javascript</li>
                  <li>For my information and databases course, I developed a stats tracker application for world football. The app would display all the current league table standings, top scorer and other relative data. I utilized Heidi SQL, OOJ and Javascript to develop the applicaiton. </li>
                </ul>
</ion-col>
</ion-row>
</ion-grid>


</ion-content>