<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<body>
  <p id="about"> I am a third year bachelors student in Business Information Technology student at Laurea. Born and brought up in Dubai, UAE, I came to Finland to start my studies here a couple of years ago. I have always had a passion for design and I aim to materialize that in application development as well. I am also very sctive in sports, I exercise regularly and play futsal a couple of times a week. I also enjoy volunteerning for international tech and business events.  </p>


</body>

</ion-content>