<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Soft skills</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-grid>
    <ion-row>
      <ion-col>
          <ul>
              <li>Ability to express lucidly both in written as well as spoken English and German</li>
             <li>Analytical thinking </li> 
             <li>Leadership</li>
             <li>Adaptability</li>
             <li>Self motivated</li>
             <li>Strong work ethic</li>
             
             </ul>
             </ion-col>
             </ion-row>
             </ion-grid>

</ion-content>
