<ion-header>
  <ion-toolbar>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <h2>Objective</h2>
    <p>Seeking a position in a mobile application development role in a reputable company that helps me grow in the role and further develop my skilIs. I maintain a strong work ethic, good interpersonal skills and an urge to learn and gain impetus.
      </p>
    
      <h2>Education</h2>

      <ul>
        <li>Business Information and Technology  -   Laurea University of Applied Sciences (2017)</li>
        <li>ALEVELS  -  Cambridge Board of International Education (2013)</li>
        <li>OLEVELS  -  Cambridge Board of International Education (2010) </li>
      </ul>

      <h2> Work Experience</h2>
      <ul>
        <li>ESN Laurea Finland - Communication Manager (2018 - Present)</li>
        <li>IPSOS UAE - CATI Operator (2014 - 2017)</li>
        <li>The Resourse Group - Customer Service Representative</li>
      </ul>
      
      <h2>Skills</h2>
      <ul>
        <li> HTML and CSS</li>
        <li>Javascipt</li>
        <li>Programming proficiency in Java and python</li>
        <li>Cross platform app development ability</li>
        <li>Angular</li>
        
      </ul>
  </body>

</ion-content>
