
<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Resume</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content padding class="resume">

    <ion-grid>
        <ion-row>
          <ion-col>
    <h2>Career objective</h2>
    <p class="textfont">Seeking a position in a mobile application development role in a reputable company that helps me grow in the role and further develop my skilIs. I maintain a strong work ethic, good interpersonal skills and an urge to learn and gain impetus.
      </p>
    
      <h2>Education</h2>

      <ul>
        <li>Business Information and Technology  -   Laurea University of Applied Sciences (2017)</li>
        <li>ALEVELS  -  Cambridge Board of International Education (2013)</li>
        <li>OLEVELS  -  Cambridge Board of International Education (2010) </li>
      </ul>

      <h2> Work Experience</h2>
      
        <h5>ESN Laurea Finland - Communication Manager (2018 - Present)</h5>
        <ul>
          <li>Interacting with in between the board and team member about upcoming activites </li>
          <li>Contacting partner companies about hosting activities sponsorship opportunities</li>
          <li>Promoting events and activities on social media</li>
          <li>Provide support to students over social media platform regarding any problems they may encounter. </li>
        </ul>
        <h5>IPSOS UAE - CATI Operator (2014 - 2017)</h5>
        <ul>
          <li>Conducting data gathering activities utilizing various methodologies about different banks and insurance companies in UAE</li>
          <li>Interviewing customers regarding their banking relationship through face to face and telephonic activity</li>
          <li>To prepare reports and complete administrative forms covering research data.</li>
        </ul>

        <h5>The Resourse Group - Customer Service Representative (2012 - 2014)</h5>
        <ul>
          <li>Established an immediate rapport with customer</li>
          <li>Utilized interpersonal and Public relation skill</li>
          <li>To have knowledge regarding efficient usage of software for data entry</li>
          <li>Ensured that highest level of quality consumer care is delivere</li>
        </ul>

  
      
     
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
